{% extends "base.html" %}

{% block title %}
  About me
{% endblock %}

{% block links %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  {% load static %}

  <link rel="stylesheet" href="{% static "about_page.css" %}">

{% endblock %}

{% block content %}
<div class="about_content jumbotron container">
  <h1>About Info:</h1>
  <p>This website is designed and developed by Thuso Tshishonga, an electrical engineer Births_and_deaths_data
  self taught web developer. The following tools and technologies were used to develope this website:</p>

  <ul>
    <li>Text editor: Atom Editor</li>
    <li>CSS and Bootstrap for the styling</li>
    <li>Vanilla javascript and Jquery for interactiveness</li>
    <li>Leaflet library and MapBox to produce an interactiveness map</li>
    <li>GeoJson data to create country and provincial borders for the interactive map of South Africa </li>
    <li>Pandas python for data analysis and viusalization</li>
    <li>The Django web framework for the backend</li>
  </ul>

  <h3>Contact details:</h3>
  <ul>
    <li>Email: tshishongatr@gmail.com</li>
    <li><a href="https://linkedin.com/in/thuso-tshishonga-077723115">LinkedIn profile</a></li>
    <li>Cell: +27 67 030 2752</li>
  </ul>
</div>
{%endblock%}
