{% extends "base.html" %}

{% block title %}
  Stats Visualisor Dashboard
{% endblock %}

{% block links %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  {% load static %}

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
  <script type="text/javascript" src="{% static "data.js" %}"> </script>

  <link rel="stylesheet" href="{% static "map_visualization.css" %}">

{% endblock %}

{% block content %}
  <div class="main_dash_body">
    <div class="stats_panel" id = "statsid">
      <h3>Overall Statistics:</h3>
      <ul>
        <li><p id = 'country'> <strong>Country: </strong>South Africa</p></li>
        <li id="province__"><p id="province"></p></li>
        <li><p id = 'size'><strong>Size: </strong>1, 220, 813 km<sup>2</sup></p></li>
        <li><p id = 'population'><strong>Population: </strong>59 million</p></li>
        <li><p id = 'population_density'><strong>Population Density: </strong>48 per km<sup>2</sup></p></li>
        <li><p id = 'unemployment'><strong>Expaned Unemployment Rate: </strong>40 %</p></li>
        <li><p id = 'GDP'> <strong>GDP: </strong> R 4.65 trillion</p></li>
      </ul>
      <a id="1" href="{% url 'provincial' name='Limpopo' %}" class="container province btn btn-outline-primary btn-sm" role="button">Load Limpopo Stats</a>
      <a id = "2" href="{% url 'provincial' name='Gauteng' %}" class="container province btn btn-outline-primary btn-sm" role="button">Load Gauteng</a>
      <a id = "3" href="{% url 'provincial' name='Mpumalanga' %}" class="container province btn btn-outline-primary btn-sm" role="button">Load Mpumalanga</a>
      <a id="4" href="{% url 'provincial' name='Western Cape' %}" class="container province btn btn-outline-primary btn-sm" role="button">Load Western Cape</a>
      <a id = "6" href="{% url 'provincial' name='Northern Cape' %}" class="container province btn btn-outline-primary btn-sm" role="button">Load Northern Cape</a>
      <a id = "5" href="{% url 'provincial' name='Free State' %}" class="container province province btn btn-outline-primary btn-sm" role="button">Load Free State</a>
      <a id="7" href="{% url 'provincial' name='North West' %}" class="container province btn btn-outline-primary btn-sm" role="button">Load North West</a>
      <a id = "8" href="{% url 'provincial' name='Eastern Cape' %}" class="container province btn btn-outline-primary btn-sm" role="button">Load Eastern Cape</a>
      <a id = "9" href="#" class="container province btn btn-outline-primary btn-sm" role="button">Load KwaZulu-Natal</a>
      <a id = "10" href="{% url 'South Africa'%}" class="container country btn btn-outline-primary btn-sm" role="button">Load South African </a>
    </div>
    <div class="mymap jumbotron" id = "mapid">

    </div>
  </div>

  <script type="text/javascript" src="{% static "index.js" %}"> </script>

{% endblock %}
