{% extends "base.html" %}

{% block title %}
  Stats Visualisor  Dashboard
{% endblock %}

{% block links %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  {% load static %}

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
  <script type="text/javascript" src="{% static "data.js" %}"> </script>

  <link rel="stylesheet" href="{% static "map_visualization.css" %}">

{% endblock %}

{% block content %}
  <div class="main_dash_body">
    <div class="stats_panel jumbotron " id = "statsid">
      <h1>Stats:</h1>
      <p id = 'country'> country: South Africa </p>
      <p id = 'province'> province </p>
      <p id = 'size'> size </p>
      <p id = 'population'> population</p>
      <p id = 'population_density'> population_density </p>
      <p id = 'GDP'> GDP </p>
      <a id="1"  class = "province" href="#" class="btn btn-primary btn-lg active" role="button">Limpopo</a>
      <a id = "2" class = "province" href="#" class="btn btn-primary btn-lg active" role="button">Gauteng</a>
      <a id = "3" class = "province" href="#" class="btn btn-primary btn-lg active" role="button">Mpumalanga</a>
      <a id="4" class = "province" href="#" class="btn btn-primary btn-lg active" role="button">Western Cape</a>
      <a id = "6" class = "province" href="#" class="btn btn-primary btn-lg active" role="button">Northern Cape</a>
      <a id = "5" class = "province" href="#" class="btn btn-primary btn-lg active" role="button">Free State</a>
      <a id="7" class = "province" href="#" class="btn btn-primary btn-lg active" role="button">North West</a>
      <a id = "8" class = "province" href="#" class="btn btn-primary btn-lg active" role="button">Eastern Cape</a>
      <a id = "9" class = "province" href="#" class="btn btn-primary btn-lg active" role="button">KwaZulu-Natal</a>
      <a id = "10" class = "country" href="#" class="btn btn-primary btn-lg active" role="button">South Africa</a>
    </div>
    <div class="mymap jumbotron" id = "mapid">

    </div>
  </div>

  <script type="text/javascript" src="{% static "index.js" %}"> </script>

{% endblock %}
