{% extends "base.html" %}
{% block title %}
  South African Statistics
{% endblock %}
  {% load static %}
{% block links %}
  <link rel="stylesheet" href="{% static "view_SA_stats.css" %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% endblock %}

{% block content %}
<div class="stats_container">
  <div class="population_stats">
    <div class="heading">
      <h1>Population Statistics</h1>
    </div>
    <br>
    <div class="paragraph_content">
      <p>Figures 1 to 8 demostrate an overview of population statistics of South Africa. Plots that demonstrate the
      population growth, life expectancy, etc. are provided.</p>
    </div>
    <br>
    <img class="img-thumbnail" src="{% static South_Africa_population_trends %}" >
    <h5 class="">Figure 1: Population growth trends of South Africa</h5>
    <br>
      <div class="paragraph_content">
        <p>The estimated population growth trends of South Africa is demontstrated in figure 1.
          The estimated population of South Africa grew from 46 million in 2002, to 59 million in
        2020. </p>
      </div>
    <br>
    <img class="img-thumbnail" src="{% static Population_Distrion_By_Age_and_Sex %}">
    <h5 class="">Figure 2: Population by age group and sex</h5>
    <br>
      <div class="paragraph_content">
        <p>Figure 2 demonstates the South African 2020 mid-year estimated population by age group and sex.
        More than 60% of South Africa's population is made up of children aged 0 - 14 years and adults aged
      15 - 34 years. At older ages, there is a surplus of females to males. </p>
      </div>
    <br>
    <img class="img-thumbnail" src="{% static Percentage_Population_estimate_by_sex_and_race %}">
    <h5 class="">Figure 3: Population estimate by population group and sex</h5>
    <br>
    <div class="paragraph_content">
      <p>The Black African population group constitutes approximately 80.8 % of the total population
        of South Africa. The White, Indian/Asian, and Coloured population groups constitutes 7.8 %, 2.6%,
       and 8.8 % respectively. </p>
    </div>
    <br>
    <img class="img-thumbnail" src="{% static population_per_province %}">
    <h5 class="">Figure 4: Population estimate by province</h5>
    <br>
    <div class="paragraph_content">
      <p>Gauteng and Kwazulu-Natal are two most populuous provinces in South Africa, each with a population
      above 15 million and 11 million respectively. 26 % of the South African population lives in Gauteng province.  </p>
    </div>
    <br>
    <img class="img-thumbnail" src="{% static Births_and_deaths_over_time %}">
    <h5 class="">Figure 5: Births and deaths over time</h5>
    <br>
    <div class="paragraph_content">
      <p>South Africa receives over 1 million births and experiences over 500 thousand deaths annually. Between 2002 and 2009, over
      200 thousand of the total deaths were AIDS related. This value has decreased to aprroximately 80 thousand in 2019. </p>
    </div>
    <br>
    <img class="img-thumbnail" src="{% static AIDS_related_deaths %}">
    <h5 class="">Figure 6: HIV related deaths trends (2002 to mid-year 2020)</h5>
    <br>
    <div class="paragraph_content">
      <p>The percentage of the AIDS related deaths has decreased from a peak of 38 % in 2006 to
        just over 15% in 2019. This shows that the ARV drugs program has helped reduce the number of
       AIDS related deaths and pro-long the lives of people living with HIV.</p>
    </div>
    <br>
    <img class="img-thumbnail" src="{% static Assumption %}">
    <h5 class="">Figure 7: Assummed life expectancy trends (2002 to mid-year 2020)</h5>
    <br>
    <div class="paragraph_content">
      <p>Between 2002 and mid-year 2020, the assummed life expectancy (if born without HIV/AIDS) of both males and females has increased.
      The assumed life expectancy of females is 71.3 years, which 6.7 years more than the 64.6 years assummed life expancy of males
    in South Africa.</p>
    </div>
    <br>
    <img class="img-thumbnail" src="{% static International_Net_migration %}">
    <h5 class="">Figure 8: Net international migration trends</h5>
    <br>
    <div class="paragraph_content">
      <p>From 2016 to 2021, South Africa is expected to experience a net international migration of approximately 800 thousand.
       Since 1985, South Africa has consistently experienced positive international net migration in the Black African, Coloured, and Indian/Asian
     population groups. The White population group has consistently experienced a negative international net migration since 1985.</p>
    </div>
    <br>
  </div>
  <div class="economic_stats">
    <div class="heading">
      <h1>Economic Statistics</h1>
    </div>
    <br>
    <div class="paragraph_content">
      <p>Figures 9 to 16 demostrate an overview of economic statistics of South Africa. Plots that demonstrate the
      the GDP growth, unemployment trends, etc. are provided.</p>
    </div>
    <br>
    <img class="img-thumbnail" src="{% static GDP_Growth %}">
    <h5 class="">Figure 9: GDP growth trends of South Africa</h5>
    <br>
    <div class="paragraph_content">
      <p>In 2019, South Africa had a year on year GDP growth of 0.2 %. Between 2005 and 2007, South Africa
      experienced a GDP growth above 5 %. </p>
    </div>
    <br>
    <img class="img-thumbnail" src="{% static SA_Provine_Working_Age_Population %}">
    <h5 >Figure 10: Working age population per province</h5>
    <br>
    <div class="paragraph_content">
      <p>In terms of working age population, Gauteng and Kwazulu-Natal are two most populuous provinces in South Africa, each with a working age
        population above 10 million and 7 Million respectively. </p>
    </div>
    <br>
    <img class="img-thumbnail" src="{% static SA_Working_Age_Population %}">
    <h5 class="">Figure 11: Working age population per population group</h5>
    <br>
    <div class="paragraph_content">
      <p>South Africa has a working-age population of apporoximately 38.8 million. The Black African population
      group contributes approximately 31.4 million people in the working age population. The Coloured, Indian/Asian, and White population
    groups contribute approximately 3.5 million, 2.9 million, and 1 million respectively to the working age population.</p>
    </div>
    <br>
    <img class="img-thumbnail" src="{% static SA_Unemployment_Narrow_Definition %}">
    <h5 class="">Figure 12: Unemployment trends of South Africa</h5>
    <br>
    <div class="paragraph_content">
      <p>The unemployment (narrow definition) rate of South Africa has increased from approximate 22 % in 2008
      to approximately 30 %  in March 2020.  </p>
    </div>
    <br>
    <img class="img-thumbnail" src="{% static South_Africa_unemployment_trends %}">
    <h5 class="">Figure 13: Unemployment trends of South Africa</h5>
    <br>
    <div class="paragraph_content">
      <p>The unemployment (expanded definition) rate of South Africa has increased from approximate 27 % in 2008
      to approximately 40 %  in March 2020. This means that out of the approximately 38 million people in the working age
    population, only 16 million are employed, 10 million are unemployed, and  approximately 12 million are not economically active.</p>
    </div>
    <br>
    <img class="img-thumbnail" src="{% static Unemployment_by_age_group_Expanded %}">
    <h5 class="">Figure 14: Unemployment by age group</h5>
    <br>
    <div class="paragraph_content">
      <p>Figure 14 shows that youths are the most affected by high unemployment rates. The unemployment (expaned definition) of youths in the
      age group 15-24 and 25 - 34 years in March 2020 was approximately 70 % and 47 % respectively. These figures are well above the national average of
      39.7 % and result in a youth unemployment rate of
    apporoximately 58 %. </p>
    </div>
    <br>
    <img class="img-thumbnail" src="{% static Unemployment_per_population_group %}">
    <h5 class="">Figure 15: Unemployment per population group</h5>
    <br>
    <div class="paragraph_content">
      <p>The Black African and Coloured population groups are the most affected by unemployment, each with an unemployment (expanded definition) rate
      of 44 % and 31 % respectively. </p>
    </div>
    <br>
    <img class="img-thumbnail" src="{% static Unemployment_per_province_Expanded %}">
    <h5 class="container">Figure 16: Unemployment per province</h5>
    <br>
    <div class="paragraph_content">
      <p>The province of the Western Cape has the lowest unemployment (expaned definition) rate, sittimg at 25 %. All other provinces except Gauteng (33 %)
       have an unemployment rate that is at least 40 %. The Eastern Cape has the highest unemployment rate, sitting at 48 %. </p>
    </div>
    <br>
  </div>
</div>

{% endblock %}
